@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #e6edf3;
}

body {
  background: #000000;
  color: #e6edf3;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0A0A0A;
}
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #484f58;
}